footer {
    background-color: black;
    margin: -6px -108px;
    color: white;
    text-align: center;
    padding: 68px 0;
}

.footer {
    padding: 90px;

    text-align: center;
}

.icon {
    padding: 0px 30px;
    margin-top: 90px;
}